Node-red_flows/nodered_flow_sunny_boy_sma_modbus_tcp_and_pvoutput.json
[{"id":"f4ec09df.680d08","type":"tab","label":"SMA 5.0 Modbus logging","disabled":false,"info":"","env":[]},{"id":"52b1c652.ead058","type":"function","z":"f4ec09df.680d08","name":"extract buffer data","func":"let DCCurrent1    = msg.payload[1] / 1000;       // 30769\nlet DCVoltage1    = msg.payload[3] / 100;        // 30771\nlet DCPower1      = msg.payload[5];              // 30773\nlet PowerTot      = msg.payload[7];              // 30775\nlet PowerL1       = msg.payload[9];              // 30777\n\nlet GridVoltagePhase1= 0;\nif (msg.payload[15] !== 65535) {\n    GridVoltagePhase1 = msg.payload[15] / 100;  // 30783\n}\n\nlet GridVoltagePhase2= 0;\nif (msg.payload[17] !== 65535) {\n    GridVoltagePhase2 = msg.payload[17] / 100;  // 30785\n}\n\nlet GridVoltagePhase3= 0;\nif (msg.payload[19] !== 65535) {\n    GridVoltagePhase3 = msg.payload[19] / 100;  // 30787\n}\n\nlet GridCurrent = 0;\nif (msg.payload[27] !== 65535) {\n    GridCurrent = msg.payload[27] / 1000;       // 30795\n}\n\nlet GridFrequency = 0;\nif (msg.payload[35] !== 65535) {\n    GridFrequency = msg.payload[35] / 100;       // 30803\n}\n\nlet _msg = {\n    payload: []\n};\n\n_msg.payload=\n    {\n\t\t\tdc_current1: DCCurrent1,\n\t\t\tdc_voltage1: DCVoltage1,\n\t\t\tdc_power1: DCPower1, \n\t\t\tac_power_tot: PowerTot,\n\t\t\tac_power1: PowerL1,\n\t\t\tac_voltage1: GridVoltagePhase1,\n\t\t\tac_current1: GridCurrent,\n\t\t\tac_frequency: GridFrequency\n\t}\n\n\nreturn _msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":610,"y":120,"wires":[["cc1e636d.c60d3"]]},{"id":"680e239f.0f008c","type":"influxdb batch","z":"f4ec09df.680d08","influxdb":"8e2b0bb1.be0588","precision":"","retentionPolicy":"","name":"","database":"","retentionPolicyV18Flux":"","org":"","bucket":"","x":1340,"y":240,"wires":[]},{"id":"54f9d8dd.3746c8","type":"modbus-getter","z":"f4ec09df.680d08","name":"DC1 - AC","showStatusActivities":false,"showErrors":true,"logIOActivities":false,"unitid":"3","dataType":"HoldingRegister","adr":"30769","quantity":"36","server":"5a0084c4.f90b5c","useIOFile":false,"ioFile":"","useIOForPayload":false,"emptyMsgOnFail":false,"keepMsgProperties":false,"x":340,"y":120,"wires":[["52b1c652.ead058"],[]]},{"id":"2514f234.a1193e","type":"inject","z":"f4ec09df.680d08","name":"Inject","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"15","crontab":"","once":true,"onceDelay":"7","topic":"SMA5.0","payloadType":"date","x":110,"y":120,"wires":[["54f9d8dd.3746c8","ef3d7f3d.b19cd","5737cf47.bf473","178bf21a.dd90de","b21fa909.9eeeb8"]]},{"id":"ef3d7f3d.b19cd","type":"modbus-getter","z":"f4ec09df.680d08","name":"Yield","showStatusActivities":false,"showErrors":true,"logIOActivities":false,"unitid":"3","dataType":"HoldingRegister","adr":"30529","quantity":"4","server":"5a0084c4.f90b5c","useIOFile":false,"ioFile":"","useIOForPayload":false,"emptyMsgOnFail":false,"keepMsgProperties":false,"x":330,"y":240,"wires":[["1b81f5a4.34b90a"],[]]},{"id":"1b81f5a4.34b90a","type":"function","z":"f4ec09df.680d08","name":"extract buffer data","func":"let yieldCycle = msg.payload[0];    // 30531\nlet yieldCycleValue = 65535;    // 30531\nlet yieldCurrent = msg.payload[1];\n\nlet TotalYieldwH = (yieldCycle * yieldCycleValue) + yieldCurrent;\nlet TotalYield = TotalYieldwH / 1000;\n\nlet _msg = {\n    payload:[]\n};\n\n_msg.payload=\n    {\n\t\t\ttotalyield: TotalYield,\n\t}\n\n\nreturn _msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":610,"y":240,"wires":[["cc1e636d.c60d3"]]},{"id":"5737cf47.bf473","type":"modbus-getter","z":"f4ec09df.680d08","name":"Temp - DC2 - AC","showStatusActivities":false,"showErrors":true,"logIOActivities":false,"unitid":"","dataType":"HoldingRegister","adr":"30953","quantity":"26","server":"5a0084c4.f90b5c","useIOFile":false,"ioFile":"","useIOForPayload":false,"emptyMsgOnFail":false,"keepMsgProperties":false,"x":370,"y":180,"wires":[["bc806de0.b0622"],[]]},{"id":"bc806de0.b0622","type":"function","z":"f4ec09df.680d08","name":"extract buffer data","func":"let DCCurrent2 =    msg.payload[5] / 1000;      // 30957\nlet DCVoltage2 =    msg.payload[7] / 100;       // 30959\nlet DCPower2 =      msg.payload[9];             // 30961\nlet InternalTemperature = msg.payload[1] /10; // 30953\nlet _msg = {\n    payload: []\n};\n\n_msg.payload=\n    {\n\t\t\tdc_current2: DCCurrent2,\n\t\t\tdc_voltage2: DCVoltage2,\n\t\t\tdc_power2: DCPower2,\n\t\t\ttemperature: InternalTemperature,\n\t}\n\n\nreturn _msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":610,"y":180,"wires":[["cc1e636d.c60d3"]]},{"id":"11eb4046.c77e5","type":"function","z":"f4ec09df.680d08","name":"Filter","func":"inputjson  = JSON.parse(msg.payload);\n\nvar _fields = {};\nfor(var item in inputjson){\n    _fields[item] = inputjson[item];\n}\n\nmsg.payload = [\n    {\n        measurement: \"energy\",\n        fields: _fields,\n        timestamp: new Date(),\n        tags:{\n\t\t    device: \"SMA_5.0\",\n\t\t     },\n    },\n    ];\nreturn msg;\n\n","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":830,"y":180,"wires":[["64b2a0d7.1366","ed2b615783b884a1"]]},{"id":"1e65eb00.f46385","type":"json","z":"f4ec09df.680d08","name":"","property":"payload","action":"str","pretty":false,"x":930,"y":120,"wires":[["11eb4046.c77e5"]]},{"id":"64b2a0d7.1366","type":"switch","z":"f4ec09df.680d08","name":"","property":"payload[0].fields.dc_voltage1","propertyType":"msg","rules":[{"t":"neq","v":"0","vt":"num"}],"checkall":"true","repair":false,"outputs":1,"x":970,"y":180,"wires":[["942141e7.80969","7e147bd1.e9fe14"]]},{"id":"cc1e636d.c60d3","type":"join","z":"f4ec09df.680d08","name":"","mode":"custom","build":"merged","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"5","count":"","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":790,"y":120,"wires":[["1e65eb00.f46385"]]},{"id":"918e6105.bdf9c","type":"join","z":"f4ec09df.680d08","name":"","mode":"custom","build":"object","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"2","count":"10","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":870,"y":540,"wires":[["5fe0e73c.32d6c8"]]},{"id":"a85f4022.f0597","type":"change","z":"f4ec09df.680d08","name":"V1","rules":[{"t":"move","p":"payload[0].fields.totalyield","pt":"msg","to":"payload","tot":"msg"},{"t":"set","p":"topic","pt":"msg","to":"v1","tot":"str"},{"t":"set","p":"payload","pt":"msg","to":"$string($number(payload)*1000)","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":690,"y":540,"wires":[["918e6105.bdf9c"]]},{"id":"46263500.a7ebfc","type":"change","z":"f4ec09df.680d08","name":"V2","rules":[{"t":"move","p":"payload[0].fields.ac_power_tot","pt":"msg","to":"payload","tot":"msg"},{"t":"set","p":"topic","pt":"msg","to":"v2","tot":"str"},{"t":"set","p":"payload","pt":"msg","to":"$string(payload)","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":690,"y":580,"wires":[["918e6105.bdf9c"]]},{"id":"f4a36c35.c03c1","type":"change","z":"f4ec09df.680d08","name":"V5","rules":[{"t":"move","p":"payload[0].fields.temperature","pt":"msg","to":"payload","tot":"msg"},{"t":"set","p":"topic","pt":"msg","to":"v5","tot":"str"},{"t":"set","p":"payload","pt":"msg","to":"$string(payload)","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":690,"y":620,"wires":[["918e6105.bdf9c"]]},{"id":"a3338529.e7e918","type":"change","z":"f4ec09df.680d08","name":"V6","rules":[{"t":"move","p":"payload[0].fields.ac_voltage1","pt":"msg","to":"payload","tot":"msg"},{"t":"set","p":"topic","pt":"msg","to":"v6","tot":"str"},{"t":"set","p":"payload","pt":"msg","to":"$string(payload)","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":690,"y":660,"wires":[[]]},{"id":"5fe0e73c.32d6c8","type":"function","z":"f4ec09df.680d08","name":"Set API key here 1","func":"msg.action = msg.payload;\nmsg.headers = { \n 'X-Pvoutput-Apikey': '8713f4e94931540a0cd6ef919e4cc7ebe9d8b026',\n 'X-Pvoutput-SystemId': '69680',\n 'Content-Type': 'application/x-www-form-urlencoded'\n};\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":950,"y":600,"wires":[["f0834e18.b0219"]]},{"id":"f0834e18.b0219","type":"function","z":"f4ec09df.680d08","name":"Set up data","func":"msg.action = msg.payload;\n\nmsg.url = \"http://pvoutput.org/service/r2/addstatus.jsp\";\n\n\n\nreturn msg;\n\n","outputs":1,"noerr":0,"x":950,"y":660,"wires":[["1382757a.af952b"]]},{"id":"1382757a.af952b","type":"http request","z":"f4ec09df.680d08","name":"Post","method":"POST","ret":"txt","paytoqs":false,"url":"","tls":"","persist":false,"proxy":"","authType":"","x":950,"y":720,"wires":[["b33524a0.b5a758"]]},{"id":"b33524a0.b5a758","type":"debug","z":"f4ec09df.680d08","name":"headercheck","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":950,"y":780,"wires":[]},{"id":"28382b11.f61d44","type":"moment","z":"f4ec09df.680d08","name":"Date","topic":"d","input":"","inputType":"date","inTz":"Europe/Amsterdam","adjAmount":0,"adjType":"days","adjDir":"add","format":"YYYYMMDD","locale":"C","output":"payload","outputType":"msg","outTz":"Europe/Amsterdam","x":690,"y":460,"wires":[["918e6105.bdf9c"]]},{"id":"f2988cd3.39054","type":"moment","z":"f4ec09df.680d08","name":"Time","topic":"t","input":"","inputType":"date","inTz":"Europe/Amsterdam","adjAmount":0,"adjType":"days","adjDir":"add","format":"HH:mm","locale":"C","output":"payload","outputType":"msg","outTz":"Europe/Amsterdam","x":690,"y":500,"wires":[["918e6105.bdf9c"]]},{"id":"b6bb94d8.800148","type":"change","z":"f4ec09df.680d08","name":"C1","rules":[{"t":"set","p":"topic","pt":"msg","to":"c1","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":690,"y":860,"wires":[["918e6105.bdf9c"]]},{"id":"bbf5d5ff.f1e9b8","type":"change","z":"f4ec09df.680d08","name":"Set Cumulative Flag","rules":[{"t":"set","p":"payload","pt":"msg","to":"1","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":500,"y":860,"wires":[["b6bb94d8.800148"]]},{"id":"920fe73e.f13138","type":"change","z":"f4ec09df.680d08","name":"V7","rules":[{"t":"move","p":"payload[0].fields.dc_voltage1","pt":"msg","to":"payload","tot":"msg"},{"t":"set","p":"topic","pt":"msg","to":"v7","tot":"str"},{"t":"set","p":"payload","pt":"msg","to":"$string(payload)","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":690,"y":700,"wires":[["918e6105.bdf9c"]]},{"id":"eda29388.c3c89","type":"change","z":"f4ec09df.680d08","name":"V8","rules":[{"t":"move","p":"payload[0].fields.dc_voltage2","pt":"msg","to":"payload","tot":"msg"},{"t":"set","p":"topic","pt":"msg","to":"v8","tot":"str"},{"t":"set","p":"payload","pt":"msg","to":"$string(payload)","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":690,"y":740,"wires":[["918e6105.bdf9c"]]},{"id":"15595ad6.d2c9b5","type":"change","z":"f4ec09df.680d08","name":"V9","rules":[{"t":"move","p":"payload[0].fields.dc_power1","pt":"msg","to":"payload","tot":"msg"},{"t":"set","p":"topic","pt":"msg","to":"v9","tot":"str"},{"t":"set","p":"payload","pt":"msg","to":"$string(payload)","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":690,"y":780,"wires":[["918e6105.bdf9c"]]},{"id":"72f27314.a099ec","type":"change","z":"f4ec09df.680d08","name":"V10","rules":[{"t":"move","p":"payload[0].fields.dc_power2","pt":"msg","to":"payload","tot":"msg"},{"t":"set","p":"topic","pt":"msg","to":"v10","tot":"str"},{"t":"set","p":"payload","pt":"msg","to":"$string(payload)","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":690,"y":820,"wires":[["918e6105.bdf9c"]]},{"id":"942141e7.80969","type":"delay","z":"f4ec09df.680d08","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"minute","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"outputs":1,"x":390,"y":460,"wires":[["28382b11.f61d44","f2988cd3.39054","a85f4022.f0597","46263500.a7ebfc","f4a36c35.c03c1","920fe73e.f13138","eda29388.c3c89","15595ad6.d2c9b5","72f27314.a099ec","bbf5d5ff.f1e9b8"]]},{"id":"3d8f1bb7.7b24f4","type":"comment","z":"f4ec09df.680d08","name":"change api key and system","info":"","x":1210,"y":600,"wires":[]},{"id":"9c550e6c.59acb","type":"comment","z":"f4ec09df.680d08","name":"change influxdb database","info":"","x":1330,"y":280,"wires":[]},{"id":"5662fbf0.1b1af4","type":"comment","z":"f4ec09df.680d08","name":" and connect to function block","info":"","x":1360,"y":320,"wires":[]},{"id":"5ce81efe.d0cd4","type":"mqtt out","z":"f4ec09df.680d08","name":"","topic":"","qos":"","retain":"","broker":"f935c11c.41462","x":1410,"y":180,"wires":[]},{"id":"ca482705.561ab8","type":"join","z":"f4ec09df.680d08","name":"","mode":"custom","build":"merged","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"4","count":"15","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":1290,"y":180,"wires":[["5ce81efe.d0cd4"]]},{"id":"7e147bd1.e9fe14","type":"change","z":"f4ec09df.680d08","name":"move to msg","rules":[{"t":"move","p":"payload[0].fields","pt":"msg","to":"payload","tot":"msg"},{"t":"set","p":"topic","pt":"msg","to":"sma_5.0","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1150,"y":180,"wires":[["ca482705.561ab8"]]},{"id":"468b8b24.04ef14","type":"mqtt in","z":"f4ec09df.680d08","name":"","topic":"sma_5.0","qos":"2","datatype":"json","broker":"f935c11c.41462","nl":false,"rap":true,"rh":0,"inputs":0,"x":1260,"y":100,"wires":[["5acdd0ec.0b23f"]]},{"id":"5acdd0ec.0b23f","type":"debug","z":"f4ec09df.680d08","name":"Debug","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1410,"y":100,"wires":[]},{"id":"178bf21a.dd90de","type":"modbus-getter","z":"f4ec09df.680d08","name":"Earthleakage","showStatusActivities":false,"showErrors":true,"logIOActivities":false,"unitid":"3","dataType":"HoldingRegister","adr":"31247","quantity":"2","server":"5a0084c4.f90b5c","useIOFile":false,"ioFile":"","useIOForPayload":false,"emptyMsgOnFail":false,"keepMsgProperties":false,"x":350,"y":300,"wires":[["ad8d5998.b73ea8"],[]]},{"id":"ad8d5998.b73ea8","type":"function","z":"f4ec09df.680d08","name":"extract buffer data","func":"let Earthleakage =    msg.payload[1] / 1000;      // 30225\n\nlet _msg = {\n    payload: []\n};\n\n_msg.payload=\n    {\n\t\t\tearthleakage: Earthleakage,\n\t}\n\n\nreturn _msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":610,"y":300,"wires":[["cc1e636d.c60d3"]]},{"id":"b21fa909.9eeeb8","type":"api-current-state","z":"f4ec09df.680d08","name":"","server":"f6a89d2d.4c4c1","version":3,"outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","entity_id":"sensor.daily_sma_5_0","state_type":"num","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":0,"forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":430,"y":360,"wires":[["8e01039e.02a0d"]]},{"id":"8e01039e.02a0d","type":"function","z":"f4ec09df.680d08","name":"extract buffer data","func":"let Todayyield =    msg.payload;      // 30225\n\nlet _msg = {\n    payload: []\n};\n\n_msg.payload=\n    {\n\t\t\ttodayyield: Todayyield,\n\t}\n\n\nreturn _msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":710,"y":360,"wires":[["cc1e636d.c60d3"]]},{"id":"ed2b615783b884a1","type":"debug","z":"f4ec09df.680d08","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1110,"y":20,"wires":[]},{"id":"8e2b0bb1.be0588","type":"influxdb","hostname":"127.0.0.1","port":"8086","protocol":"http","database":"energy","name":"","usetls":false,"tls":"f584311e.90983","influxdbVersion":"1.x","url":"","rejectUnauthorized":false},{"id":"5a0084c4.f90b5c","type":"modbus-client","name":"SMA 5.0","clienttype":"tcp","bufferCommands":true,"stateLogEnabled":true,"queueLogEnabled":false,"tcpHost":"192.168.2.28","tcpPort":"502","tcpType":"DEFAULT","serialPort":"/dev/ttyUSB","serialType":"RTU-BUFFERD","serialBaudrate":"9600","serialDatabits":"8","serialStopbits":"1","serialParity":"none","serialConnectionDelay":"100","serialAsciiResponseStartDelimiter":"","unit_id":"3","commandDelay":"1","clientTimeout":"1000","reconnectOnTimeout":true,"reconnectTimeout":"2000","parallelUnitIdsAllowed":true},{"id":"f935c11c.41462","type":"mqtt-broker","name":"MQTT","broker":"core-mosquitto","port":"1883","clientid":"","autoConnect":true,"usetls":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willPayload":"","willMsg":{},"sessionExpiry":""},{"id":"f6a89d2d.4c4c1","type":"server","name":"Home Assistant","version":5,"addon":true,"rejectUnauthorizedCerts":true,"ha_boolean":"y|yes|true|on|home|open","connectionDelay":true,"cacheJson":true,"heartbeat":false,"heartbeatInterval":30,"areaSelector":"friendlyName","deviceSelector":"friendlyName","entitySelector":"friendlyName","statusSeparator":"at: ","statusYear":"hidden","statusMonth":"short","statusDay":"numeric","statusHourCycle":"h23","statusTimeFormat":"h:m","enableGlobalContextStore":true},{"id":"f584311e.90983","type":"tls-config","name":"local-tls","cert":"","key":"","ca":"","certname":"","keyname":"","caname":"","verifyservercert":false}]