Node-red_flows/nodered_flow_multiple_sunny_boy_1_mppt_sma_webconnect_and_pvoutput.json
[{"id":"fb1d207f.65b2c","type":"tab","label":"SMA Webconnect","disabled":false,"info":""},{"id":"c6257a98.ba9778","type":"sma-webconnect","z":"fb1d207f.65b2c","ip_address":"192.168.0.104","right":"istl","use_tls":false,"device_selection":"sb_tripower","credentials":{},"x":380,"y":80,"wires":[["9bd54305.b8983","ef3d16df.a57e88"]]},{"id":"644935a6.c460ec","type":"inject","z":"fb1d207f.65b2c","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":"10","topic":"SMA Zuid onder","payload":"{\"sma_config\":{\"id\":\"1\",\"values\":{\"6100_40263F00\":{\"name\":\"ac_power\",\"divider\":1},\"6100_00465700\":{\"name\":\"frequentie\",\"divider\":100},\"6100_40465300\":{\"name\":\"ac_current\",\"divider\":1000},\"6100_00464800\":{\"name\":\"ac_voltage\",\"divider\":100},\"6400_00260100\":{\"name\":\"totaal\",\"divider\":1000},\"6400_00262200\":{\"name\":\"dag_totaal\",\"divider\":1000},\"6380_40251E00\":{\"name\":\"dc_power_mppt1\",\"divider\":1},\"6380_40452100\":{\"name\":\"dc_current_mppt1\",\"divider\":1000},\"6380_40451F00\":{\"name\":\"dc_voltage_mppt1\",\"divider\":100},\"6102_40254E00\":{\"name\":\"aardlekstroom\",\"divider\":1000},\"6102_00254F00\":{\"name\":\"isolatieweerstand\",\"divider\":1000}}}}","payloadType":"json","x":150,"y":80,"wires":[["c6257a98.ba9778","1c73fed7.bbada1"]]},{"id":"721d60c9.77366","type":"inject","z":"fb1d207f.65b2c","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":"15","topic":"SMA Zuid boven","payload":"{\"sma_config\":{\"id\":\"1\",\"values\":{\"6100_40263F00\":{\"name\":\"ac_power\",\"divider\":1},\"6100_00465700\":{\"name\":\"frequentie\",\"divider\":100},\"6100_40465300\":{\"name\":\"ac_current\",\"divider\":1000},\"6100_00464800\":{\"name\":\"ac_voltage\",\"divider\":100},\"6400_00260100\":{\"name\":\"totaal\",\"divider\":1000},\"6400_00262200\":{\"name\":\"dag_totaal\",\"divider\":1000},\"6380_40251E00\":{\"name\":\"dc_power_mppt1\",\"divider\":1},\"6380_40452100\":{\"name\":\"dc_current_mppt1\",\"divider\":1000},\"6380_40451F00\":{\"name\":\"dc_voltage_mppt1\",\"divider\":100},\"6102_40254E00\":{\"name\":\"aardlekstroom\",\"divider\":1000},\"6102_00254F00\":{\"name\":\"isolatieweerstand\",\"divider\":1000}}}}","payloadType":"json","x":150,"y":240,"wires":[["ec45ddf8.e13ba","78f10d757d9b5b36"]]},{"id":"d5aca1ab.4cc0e","type":"sma-webconnect","z":"fb1d207f.65b2c","ip_address":"192.168.0.254","right":"istl","use_tls":false,"device_selection":"sb_tripower","x":380,"y":400,"wires":[["25d3152.3a441ea","1b224857.d65f18"]]},{"id":"a4887a06.cf4898","type":"inject","z":"fb1d207f.65b2c","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":"20","topic":"Noord","payload":"{\"sma_config\":{\"id\":\"1\",\"values\":{\"6100_40263F00\":{\"name\":\"ac_power\",\"divider\":1},\"6100_00465700\":{\"name\":\"frequentie\",\"divider\":100},\"6100_40465300\":{\"name\":\"ac_current\",\"divider\":1000},\"6100_00464800\":{\"name\":\"ac_voltage\",\"divider\":100},\"6400_00260100\":{\"name\":\"totaal\",\"divider\":1000},\"6400_00262200\":{\"name\":\"dag_totaal\",\"divider\":1000},\"6380_40251E00\":{\"name\":\"dc_power_mppt1\",\"divider\":1},\"6380_40452100\":{\"name\":\"dc_current_mppt1\",\"divider\":1000},\"6380_40451F00\":{\"name\":\"dc_voltage_mppt1\",\"divider\":100},\"6102_40254E00\":{\"name\":\"aardlekstroom\",\"divider\":1000},\"6102_00254F00\":{\"name\":\"isolatieweerstand\",\"divider\":1000}}}}","payloadType":"json","x":150,"y":400,"wires":[["d5aca1ab.4cc0e","168f3381.1524ec"]]},{"id":"be85b79f.842358","type":"change","z":"fb1d207f.65b2c","name":"","rules":[{"t":"set","p":"topic","pt":"msg","to":"sma/zuid_boven","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":870,"y":240,"wires":[["d0c23a66.5d8d78","f14654bb.034bd8"]]},{"id":"3565665f.9be86a","type":"change","z":"fb1d207f.65b2c","name":"","rules":[{"t":"set","p":"topic","pt":"msg","to":"sma/noord","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":870,"y":400,"wires":[["36e0f4ff.e71d1c","18365e9785cdf1b5"]]},{"id":"53a945b1.3ff9cc","type":"mqtt out","z":"fb1d207f.65b2c","name":"","topic":"","qos":"","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"f935c11c.41462","x":1310,"y":280,"wires":[]},{"id":"56d26860.e61f88","type":"mqtt in","z":"fb1d207f.65b2c","name":"","topic":"sma/#","qos":"2","datatype":"json","broker":"f935c11c.41462","inputs":0,"x":1230,"y":160,"wires":[["96f7d527.82fcd8"]]},{"id":"96f7d527.82fcd8","type":"debug","z":"fb1d207f.65b2c","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":1350,"y":160,"wires":[]},{"id":"7522b96a.99a578","type":"change","z":"fb1d207f.65b2c","name":"","rules":[{"t":"set","p":"topic","pt":"msg","to":"sma/zuid_onder","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":870,"y":80,"wires":[["53c6525d.9bc12c","d8b0fc2cf59829a3"]]},{"id":"d0c23a66.5d8d78","type":"switch","z":"fb1d207f.65b2c","name":"","property":"payload.dc_voltage_mppt1","propertyType":"msg","rules":[{"t":"gt","v":"0","vt":"num"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":1090,"y":240,"wires":[["53a945b1.3ff9cc","8ea79febf96d8352"],[]]},{"id":"431b69d4.7a3c68","type":"function","z":"fb1d207f.65b2c","name":"","func":"var Efficiency = Number(parseFloat(msg.payload.dag_totaal / 2.275).toFixed(3))\n\nlet _msg = {\n    payload: []\n};\n\n_msg.payload=\n    {\t\tefficiency: Efficiency,\n\t}\n\nreturn _msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":560,"y":220,"wires":[["3207a19e.3e94fe"]]},{"id":"3207a19e.3e94fe","type":"join","z":"fb1d207f.65b2c","name":"","mode":"custom","build":"merged","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"5","count":"","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"num","reduceFixup":"","x":710,"y":240,"wires":[["be85b79f.842358"]]},{"id":"25d3152.3a441ea","type":"function","z":"fb1d207f.65b2c","name":"","func":"var Efficiency = Number(parseFloat(msg.payload.dag_totaal / 2.550).toFixed(3))\n\nlet _msg = {\n    payload: []\n};\n\n_msg.payload=\n    {\t\tefficiency: Efficiency,\n\t}\n\nreturn _msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":560,"y":380,"wires":[["1b224857.d65f18"]]},{"id":"1b224857.d65f18","type":"join","z":"fb1d207f.65b2c","name":"","mode":"custom","build":"merged","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"5","count":"","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"num","reduceFixup":"","x":710,"y":400,"wires":[["3565665f.9be86a"]]},{"id":"9bd54305.b8983","type":"function","z":"fb1d207f.65b2c","name":"","func":"var Efficiency = Number(parseFloat(msg.payload.dag_totaal / 2.275).toFixed(3))\n\nlet _msg = {\n    payload: []\n};\n\n_msg.payload=\n    {\t\tefficiency: Efficiency,\n\t}\n\nreturn _msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":560,"y":60,"wires":[["ef3d16df.a57e88"]]},{"id":"ef3d16df.a57e88","type":"join","z":"fb1d207f.65b2c","name":"","mode":"custom","build":"merged","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"5","count":"","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"num","reduceFixup":"","x":710,"y":80,"wires":[["7522b96a.99a578"]]},{"id":"f1173bb6.692778","type":"function","z":"fb1d207f.65b2c","name":"extract buffer data","func":"let InternalTemperature = msg.payload[1] / 10; // 30953\n\nlet _msg = {\n    payload: []\n};\n\n_msg.payload = InternalTemperature\n_msg.topic = \"Temperature\";\nnode.status({fill:\"blue\",shape:\"ring\",text:_msg.topic + \":\" + _msg.payload});    \n\nreturn _msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":390,"y":160,"wires":[["bd032bc0.e9a328"]]},{"id":"1c73fed7.bbada1","type":"modbus-getter","z":"fb1d207f.65b2c","name":"Temp - DC2 - AC","showStatusActivities":false,"showErrors":false,"logIOActivities":false,"unitid":"","dataType":"HoldingRegister","adr":"30953","quantity":"2","server":"5a0084c4.f90b5c","useIOFile":false,"ioFile":"","useIOForPayload":false,"emptyMsgOnFail":false,"keepMsgProperties":false,"x":230,"y":120,"wires":[["f1173bb6.692778"],[]]},{"id":"bd032bc0.e9a328","type":"change","z":"fb1d207f.65b2c","name":"","rules":[{"t":"move","p":"payload","pt":"msg","to":"payload.temperature","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":490,"y":120,"wires":[["ef3d16df.a57e88"]]},{"id":"53c6525d.9bc12c","type":"debug","z":"fb1d207f.65b2c","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":770,"y":140,"wires":[]},{"id":"3afb4fb4.9489c","type":"function","z":"fb1d207f.65b2c","name":"extract buffer data","func":"let InternalTemperature = msg.payload[1] / 10; // 30953\n\nlet _msg = {\n    payload: []\n};\n\n_msg.payload = InternalTemperature\n_msg.topic = \"Temperature\";\nnode.status({fill:\"blue\",shape:\"ring\",text:_msg.topic + \":\" + _msg.payload});   \n\nreturn _msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":390,"y":320,"wires":[["54da8b05.7409c4"]]},{"id":"ec45ddf8.e13ba","type":"modbus-getter","z":"fb1d207f.65b2c","name":"Temp - DC2 - AC","showStatusActivities":false,"showErrors":false,"showWarnings":true,"logIOActivities":false,"unitid":"","dataType":"HoldingRegister","adr":"30953","quantity":"2","server":"cfb10c6e.c16a8","useIOFile":false,"ioFile":"","useIOForPayload":false,"emptyMsgOnFail":false,"keepMsgProperties":false,"delayOnStart":false,"startDelayTime":"","x":230,"y":280,"wires":[["3afb4fb4.9489c"],[]]},{"id":"54da8b05.7409c4","type":"change","z":"fb1d207f.65b2c","name":"","rules":[{"t":"move","p":"payload","pt":"msg","to":"payload.temperature","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":490,"y":280,"wires":[["3207a19e.3e94fe"]]},{"id":"f14654bb.034bd8","type":"debug","z":"fb1d207f.65b2c","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":770,"y":300,"wires":[]},{"id":"e8542b3.17d2fd8","type":"function","z":"fb1d207f.65b2c","name":"extract buffer data","func":"let InternalTemperature = msg.payload[1] / 10; // 30953\n\nlet _msg = {\n    payload: []\n};\n\n_msg.payload = InternalTemperature\n_msg.topic = \"Temperature\";\nnode.status({fill:\"blue\",shape:\"ring\",text:_msg.topic + \":\" + _msg.payload});   \n\nreturn _msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":390,"y":480,"wires":[["f0bda1d1.7efc2"]]},{"id":"168f3381.1524ec","type":"modbus-getter","z":"fb1d207f.65b2c","name":"Temp - DC2 - AC","showStatusActivities":false,"showErrors":false,"logIOActivities":false,"unitid":"","dataType":"HoldingRegister","adr":"30953","quantity":"2","server":"cc9997dd.308868","useIOFile":false,"ioFile":"","useIOForPayload":false,"emptyMsgOnFail":false,"keepMsgProperties":false,"x":230,"y":440,"wires":[["e8542b3.17d2fd8"],[]]},{"id":"f0bda1d1.7efc2","type":"change","z":"fb1d207f.65b2c","name":"","rules":[{"t":"move","p":"payload","pt":"msg","to":"payload.temperature","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":490,"y":440,"wires":[["1b224857.d65f18"]]},{"id":"36e0f4ff.e71d1c","type":"debug","z":"fb1d207f.65b2c","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":770,"y":460,"wires":[]},{"id":"74a8279d.a8ddd8","type":"join","z":"fb1d207f.65b2c","name":"","mode":"custom","build":"object","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"2","count":"10","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":650,"y":640,"wires":[["3fad7313.ed243c"]]},{"id":"56adeb56.e99494","type":"change","z":"fb1d207f.65b2c","name":"V1","rules":[{"t":"move","p":"payload.totaal","pt":"msg","to":"payload","tot":"msg"},{"t":"set","p":"topic","pt":"msg","to":"v1","tot":"str"},{"t":"set","p":"payload","pt":"msg","to":"$string($number(payload)*1000)","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":470,"y":640,"wires":[["74a8279d.a8ddd8"]]},{"id":"db1435f2.48bc18","type":"change","z":"fb1d207f.65b2c","name":"V2","rules":[{"t":"move","p":"payload.ac_power","pt":"msg","to":"payload","tot":"msg"},{"t":"set","p":"topic","pt":"msg","to":"v2","tot":"str"},{"t":"set","p":"payload","pt":"msg","to":"$string(payload)","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":470,"y":680,"wires":[["74a8279d.a8ddd8"]]},{"id":"8c638404.27d508","type":"change","z":"fb1d207f.65b2c","name":"V5","rules":[{"t":"move","p":"payload.temperature","pt":"msg","to":"payload","tot":"msg"},{"t":"set","p":"topic","pt":"msg","to":"v5","tot":"str"},{"t":"set","p":"payload","pt":"msg","to":"$string(payload)","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":470,"y":720,"wires":[["74a8279d.a8ddd8"]]},{"id":"3a58c4db.24649c","type":"change","z":"fb1d207f.65b2c","name":"V6","rules":[{"t":"move","p":"payload[0].fields.ac_voltage1","pt":"msg","to":"payload","tot":"msg"},{"t":"set","p":"topic","pt":"msg","to":"v6","tot":"str"},{"t":"set","p":"payload","pt":"msg","to":"$string(payload)","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":470,"y":760,"wires":[[]]},{"id":"3fad7313.ed243c","type":"function","z":"fb1d207f.65b2c","name":"Set API key here 1","func":"msg.action = msg.payload;\nmsg.headers = { \n 'X-Pvoutput-Apikey': '64344b0dw43749b2a3b78cdcd89fad4b946083cd',\n 'X-Pvoutput-SystemId': '87128',\n 'Content-Type': 'application/x-www-form-urlencoded'\n};\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":730,"y":700,"wires":[["17f3e224.f4ba4e"]]},{"id":"17f3e224.f4ba4e","type":"function","z":"fb1d207f.65b2c","name":"Set up data","func":"msg.action = msg.payload;\n\nmsg.url = \"http://pvoutput.org/service/r2/addstatus.jsp\";\n\n\n\nreturn msg;\n\n","outputs":1,"noerr":0,"x":730,"y":760,"wires":[["d7d901ff.3730c"]]},{"id":"d7d901ff.3730c","type":"http request","z":"fb1d207f.65b2c","name":"Post","method":"POST","ret":"txt","paytoqs":false,"url":"","tls":"","persist":false,"proxy":"","authType":"","x":730,"y":820,"wires":[["a9ec0ed3.e32e4"]]},{"id":"a9ec0ed3.e32e4","type":"debug","z":"fb1d207f.65b2c","name":"headercheck","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":730,"y":880,"wires":[]},{"id":"f44abf15.0ad35","type":"moment","z":"fb1d207f.65b2c","name":"Date","topic":"d","input":"","inputType":"date","inTz":"Europe/Amsterdam","adjAmount":0,"adjType":"days","adjDir":"add","format":"YYYYMMDD","locale":"C","output":"payload","outputType":"msg","outTz":"Europe/Amsterdam","x":470,"y":560,"wires":[["74a8279d.a8ddd8"]]},{"id":"dca80a1.ca748f8","type":"moment","z":"fb1d207f.65b2c","name":"Time","topic":"t","input":"","inputType":"date","inTz":"Europe/Amsterdam","adjAmount":0,"adjType":"days","adjDir":"add","format":"HH:mm","locale":"C","output":"payload","outputType":"msg","outTz":"Europe/Amsterdam","x":470,"y":600,"wires":[["74a8279d.a8ddd8"]]},{"id":"e6041e3f.22b67","type":"change","z":"fb1d207f.65b2c","name":"C1","rules":[{"t":"set","p":"topic","pt":"msg","to":"c1","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":470,"y":960,"wires":[["74a8279d.a8ddd8"]]},{"id":"ecedfa0e.593498","type":"change","z":"fb1d207f.65b2c","name":"Set Cumulative Flag","rules":[{"t":"set","p":"payload","pt":"msg","to":"1","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":280,"y":960,"wires":[["e6041e3f.22b67"]]},{"id":"c66b4d99.3eee7","type":"change","z":"fb1d207f.65b2c","name":"V7","rules":[{"t":"move","p":"payload.dc_voltage_mppt1","pt":"msg","to":"payload","tot":"msg"},{"t":"set","p":"topic","pt":"msg","to":"v7","tot":"str"},{"t":"set","p":"payload","pt":"msg","to":"$string(payload)","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":470,"y":800,"wires":[["74a8279d.a8ddd8"]]},{"id":"e4b8cf9c.98222","type":"change","z":"fb1d207f.65b2c","name":"V8","rules":[{"t":"move","p":"payload[0].fields.dc_voltage2","pt":"msg","to":"payload","tot":"msg"},{"t":"set","p":"topic","pt":"msg","to":"v8","tot":"str"},{"t":"set","p":"payload","pt":"msg","to":"$string(payload)","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":470,"y":840,"wires":[[]]},{"id":"d221e60.d5f7f18","type":"change","z":"fb1d207f.65b2c","name":"V9","rules":[{"t":"move","p":"payload.dc_power_mppt1","pt":"msg","to":"payload","tot":"msg"},{"t":"set","p":"topic","pt":"msg","to":"v9","tot":"str"},{"t":"set","p":"payload","pt":"msg","to":"$string(payload)","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":470,"y":880,"wires":[["74a8279d.a8ddd8"]]},{"id":"3dac5d5.7ce6ea2","type":"change","z":"fb1d207f.65b2c","name":"V10","rules":[{"t":"move","p":"payload[0].fields.dc_power2","pt":"msg","to":"payload","tot":"msg"},{"t":"set","p":"topic","pt":"msg","to":"v10","tot":"str"},{"t":"set","p":"payload","pt":"msg","to":"$string(payload)","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":470,"y":920,"wires":[[]]},{"id":"3e935461.987dcc","type":"delay","z":"fb1d207f.65b2c","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"minute","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"allowrate":false,"outputs":1,"x":170,"y":560,"wires":[["f44abf15.0ad35","dca80a1.ca748f8","56adeb56.e99494","db1435f2.48bc18","8c638404.27d508","c66b4d99.3eee7","d221e60.d5f7f18","ecedfa0e.593498"]]},{"id":"54b07b0546a3ba72","type":"join","z":"fb1d207f.65b2c","name":"","mode":"custom","build":"object","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"2","count":"10","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":1330,"y":640,"wires":[["dc8c63408d3278cb"]]},{"id":"38be359ffed38757","type":"change","z":"fb1d207f.65b2c","name":"V1","rules":[{"t":"move","p":"payload.dag_totaal","pt":"msg","to":"payload","tot":"msg"},{"t":"set","p":"topic","pt":"msg","to":"v1","tot":"str"},{"t":"set","p":"payload","pt":"msg","to":"$string($number(payload)*1000)","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":1150,"y":640,"wires":[["54b07b0546a3ba72"]]},{"id":"89daf138398d1fca","type":"change","z":"fb1d207f.65b2c","name":"V2","rules":[{"t":"move","p":"payload.ac_power","pt":"msg","to":"payload","tot":"msg"},{"t":"set","p":"topic","pt":"msg","to":"v2","tot":"str"},{"t":"set","p":"payload","pt":"msg","to":"$string(payload)","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":1150,"y":680,"wires":[["54b07b0546a3ba72"]]},{"id":"e54c800ecfd32a6e","type":"change","z":"fb1d207f.65b2c","name":"V5","rules":[{"t":"move","p":"payload.temperature","pt":"msg","to":"payload","tot":"msg"},{"t":"set","p":"topic","pt":"msg","to":"v5","tot":"str"},{"t":"set","p":"payload","pt":"msg","to":"$string(payload)","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":1150,"y":720,"wires":[["54b07b0546a3ba72"]]},{"id":"078b729818c1c406","type":"change","z":"fb1d207f.65b2c","name":"V6","rules":[{"t":"move","p":"payload[0].fields.ac_voltage1","pt":"msg","to":"payload","tot":"msg"},{"t":"set","p":"topic","pt":"msg","to":"v6","tot":"str"},{"t":"set","p":"payload","pt":"msg","to":"$string(payload)","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":1150,"y":760,"wires":[[]]},{"id":"dc8c63408d3278cb","type":"function","z":"fb1d207f.65b2c","name":"Set API key here 1","func":"msg.action = msg.payload;\nmsg.headers = { \n 'X-Pvoutput-Apikey': '64344b0de43749b2a3278cdcd89fad4b946083cd',\n 'X-Pvoutput-SystemId': '87127',\n 'Content-Type': 'application/x-www-form-urlencoded'\n};\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":1410,"y":700,"wires":[["1e1801bb781219e2"]]},{"id":"1e1801bb781219e2","type":"function","z":"fb1d207f.65b2c","name":"Set up data","func":"msg.action = msg.payload;\n\nmsg.url = \"http://pvoutput.org/service/r2/addstatus.jsp\";\n\n\n\nreturn msg;\n\n","outputs":1,"noerr":0,"x":1410,"y":760,"wires":[["0d507d025ae27479"]]},{"id":"0d507d025ae27479","type":"http request","z":"fb1d207f.65b2c","name":"Post","method":"POST","ret":"txt","paytoqs":false,"url":"","tls":"","persist":false,"proxy":"","authType":"","x":1410,"y":820,"wires":[["f3a38890c6684d9d"]]},{"id":"f3a38890c6684d9d","type":"debug","z":"fb1d207f.65b2c","name":"headercheck","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":1370,"y":900,"wires":[]},{"id":"d54493d08967b996","type":"moment","z":"fb1d207f.65b2c","name":"Date","topic":"d","input":"","inputType":"date","inTz":"Europe/Amsterdam","adjAmount":0,"adjType":"days","adjDir":"add","format":"YYYYMMDD","locale":"C","output":"payload","outputType":"msg","outTz":"Europe/Amsterdam","x":1150,"y":560,"wires":[["54b07b0546a3ba72"]]},{"id":"7b5c431beb335d62","type":"moment","z":"fb1d207f.65b2c","name":"Time","topic":"t","input":"","inputType":"date","inTz":"Europe/Amsterdam","adjAmount":0,"adjType":"days","adjDir":"add","format":"HH:mm","locale":"C","output":"payload","outputType":"msg","outTz":"Europe/Amsterdam","x":1150,"y":600,"wires":[["54b07b0546a3ba72"]]},{"id":"227de39f852bfeaa","type":"change","z":"fb1d207f.65b2c","name":"C1","rules":[{"t":"set","p":"topic","pt":"msg","to":"c1","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":1150,"y":960,"wires":[["54b07b0546a3ba72"]]},{"id":"24713134d4e5ade9","type":"change","z":"fb1d207f.65b2c","name":"Set Cumulative Flag","rules":[{"t":"set","p":"payload","pt":"msg","to":"1","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":960,"y":960,"wires":[["227de39f852bfeaa"]]},{"id":"1e9d7dd4217392d0","type":"change","z":"fb1d207f.65b2c","name":"V7","rules":[{"t":"move","p":"payload.dc_voltage_mppt1","pt":"msg","to":"payload","tot":"msg"},{"t":"set","p":"topic","pt":"msg","to":"v7","tot":"str"},{"t":"set","p":"payload","pt":"msg","to":"$string(payload)","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":1150,"y":800,"wires":[["54b07b0546a3ba72"]]},{"id":"3bec248e209aca4a","type":"change","z":"fb1d207f.65b2c","name":"V8","rules":[{"t":"move","p":"payload[0].fields.dc_voltage2","pt":"msg","to":"payload","tot":"msg"},{"t":"set","p":"topic","pt":"msg","to":"v8","tot":"str"},{"t":"set","p":"payload","pt":"msg","to":"$string(payload)","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":1150,"y":840,"wires":[[]]},{"id":"14306eef81f43460","type":"change","z":"fb1d207f.65b2c","name":"V9","rules":[{"t":"move","p":"payload.dc_power_mppt1","pt":"msg","to":"payload","tot":"msg"},{"t":"set","p":"topic","pt":"msg","to":"v9","tot":"str"},{"t":"set","p":"payload","pt":"msg","to":"$string(payload)","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":1150,"y":880,"wires":[["54b07b0546a3ba72"]]},{"id":"61a8430bde11348a","type":"change","z":"fb1d207f.65b2c","name":"V10","rules":[{"t":"move","p":"payload[0].fields.dc_power2","pt":"msg","to":"payload","tot":"msg"},{"t":"set","p":"topic","pt":"msg","to":"v10","tot":"str"},{"t":"set","p":"payload","pt":"msg","to":"$string(payload)","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":1150,"y":920,"wires":[[]]},{"id":"8ea79febf96d8352","type":"delay","z":"fb1d207f.65b2c","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"minute","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"allowrate":false,"outputs":1,"x":850,"y":560,"wires":[["d54493d08967b996","7b5c431beb335d62","38be359ffed38757","89daf138398d1fca","e54c800ecfd32a6e","1e9d7dd4217392d0","14306eef81f43460","24713134d4e5ade9"]]},{"id":"391ca3c2c68a7be2","type":"join","z":"fb1d207f.65b2c","name":"","mode":"custom","build":"object","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"2","count":"10","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":650,"y":1120,"wires":[["aaa2668e8f6aba08"]]},{"id":"159028d2db78e3e5","type":"change","z":"fb1d207f.65b2c","name":"V1","rules":[{"t":"move","p":"payload.totaal","pt":"msg","to":"payload","tot":"msg"},{"t":"set","p":"topic","pt":"msg","to":"v1","tot":"str"},{"t":"set","p":"payload","pt":"msg","to":"$string($number(payload)*1000)","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":470,"y":1120,"wires":[["391ca3c2c68a7be2"]]},{"id":"892844140b108414","type":"change","z":"fb1d207f.65b2c","name":"V2","rules":[{"t":"move","p":"payload.ac_power","pt":"msg","to":"payload","tot":"msg"},{"t":"set","p":"topic","pt":"msg","to":"v2","tot":"str"},{"t":"set","p":"payload","pt":"msg","to":"$string(payload)","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":470,"y":1160,"wires":[["391ca3c2c68a7be2"]]},{"id":"d3836415f7e23a39","type":"change","z":"fb1d207f.65b2c","name":"V5","rules":[{"t":"move","p":"payload.temperature","pt":"msg","to":"payload","tot":"msg"},{"t":"set","p":"topic","pt":"msg","to":"v5","tot":"str"},{"t":"set","p":"payload","pt":"msg","to":"$string(payload)","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":470,"y":1200,"wires":[["391ca3c2c68a7be2"]]},{"id":"e81fee01f9f4c0d8","type":"change","z":"fb1d207f.65b2c","name":"V6","rules":[{"t":"move","p":"payload[0].fields.ac_voltage1","pt":"msg","to":"payload","tot":"msg"},{"t":"set","p":"topic","pt":"msg","to":"v6","tot":"str"},{"t":"set","p":"payload","pt":"msg","to":"$string(payload)","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":470,"y":1240,"wires":[[]]},{"id":"aaa2668e8f6aba08","type":"function","z":"fb1d207f.65b2c","name":"Set API key here 1","func":"msg.action = msg.payload;\nmsg.headers = { \n 'X-Pvoutput-Apikey': '64344b0de43741b2a3b78cdcd89fad4b946083cd',\n 'X-Pvoutput-SystemId': '87091',\n 'Content-Type': 'application/x-www-form-urlencoded'\n};\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":730,"y":1180,"wires":[["d5c74ef22c6fd38b"]]},{"id":"d5c74ef22c6fd38b","type":"function","z":"fb1d207f.65b2c","name":"Set up data","func":"msg.action = msg.payload;\n\nmsg.url = \"http://pvoutput.org/service/r2/addstatus.jsp\";\n\n\n\nreturn msg;\n\n","outputs":1,"noerr":0,"x":730,"y":1240,"wires":[["58417d185ad7592c"]]},{"id":"58417d185ad7592c","type":"http request","z":"fb1d207f.65b2c","name":"Post","method":"POST","ret":"txt","paytoqs":false,"url":"","tls":"","persist":false,"proxy":"","authType":"","x":730,"y":1300,"wires":[["0a2b5f5d8638a094"]]},{"id":"0a2b5f5d8638a094","type":"debug","z":"fb1d207f.65b2c","name":"headercheck","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","x":730,"y":1360,"wires":[]},{"id":"0b66eabbfc74a1b7","type":"moment","z":"fb1d207f.65b2c","name":"Date","topic":"d","input":"","inputType":"date","inTz":"Europe/Amsterdam","adjAmount":0,"adjType":"days","adjDir":"add","format":"YYYYMMDD","locale":"C","output":"payload","outputType":"msg","outTz":"Europe/Amsterdam","x":470,"y":1040,"wires":[["391ca3c2c68a7be2"]]},{"id":"84d0a004ec426a38","type":"moment","z":"fb1d207f.65b2c","name":"Time","topic":"t","input":"","inputType":"date","inTz":"Europe/Amsterdam","adjAmount":0,"adjType":"days","adjDir":"add","format":"HH:mm","locale":"C","output":"payload","outputType":"msg","outTz":"Europe/Amsterdam","x":470,"y":1080,"wires":[["391ca3c2c68a7be2"]]},{"id":"35cafa2e545d2459","type":"change","z":"fb1d207f.65b2c","name":"C1","rules":[{"t":"set","p":"topic","pt":"msg","to":"c1","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":470,"y":1440,"wires":[["391ca3c2c68a7be2"]]},{"id":"7d3a6fb220a61774","type":"change","z":"fb1d207f.65b2c","name":"Set Cumulative Flag","rules":[{"t":"set","p":"payload","pt":"msg","to":"1","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":280,"y":1440,"wires":[["35cafa2e545d2459"]]},{"id":"bcbfd3b54be1971a","type":"change","z":"fb1d207f.65b2c","name":"V7","rules":[{"t":"move","p":"payload.dc_voltage_mppt1","pt":"msg","to":"payload","tot":"msg"},{"t":"set","p":"topic","pt":"msg","to":"v7","tot":"str"},{"t":"set","p":"payload","pt":"msg","to":"$string(payload)","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":470,"y":1280,"wires":[["391ca3c2c68a7be2"]]},{"id":"2a9bf7ac6f0b0775","type":"change","z":"fb1d207f.65b2c","name":"V8","rules":[{"t":"move","p":"payload[0].fields.dc_voltage2","pt":"msg","to":"payload","tot":"msg"},{"t":"set","p":"topic","pt":"msg","to":"v8","tot":"str"},{"t":"set","p":"payload","pt":"msg","to":"$string(payload)","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":470,"y":1320,"wires":[[]]},{"id":"8fca6a5b2864a7fd","type":"change","z":"fb1d207f.65b2c","name":"V9","rules":[{"t":"move","p":"payload.dc_power_mppt1","pt":"msg","to":"payload","tot":"msg"},{"t":"set","p":"topic","pt":"msg","to":"v9","tot":"str"},{"t":"set","p":"payload","pt":"msg","to":"$string(payload)","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":470,"y":1360,"wires":[["391ca3c2c68a7be2"]]},{"id":"e9a80edddd011408","type":"change","z":"fb1d207f.65b2c","name":"V10","rules":[{"t":"move","p":"payload[0].fields.dc_power2","pt":"msg","to":"payload","tot":"msg"},{"t":"set","p":"topic","pt":"msg","to":"v10","tot":"str"},{"t":"set","p":"payload","pt":"msg","to":"$string(payload)","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":470,"y":1400,"wires":[[]]},{"id":"fb9ce0d47d1b8d24","type":"delay","z":"fb1d207f.65b2c","name":"","pauseType":"rate","timeout":"5","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"minute","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"allowrate":false,"outputs":1,"x":170,"y":1040,"wires":[["0b66eabbfc74a1b7","84d0a004ec426a38","159028d2db78e3e5","892844140b108414","d3836415f7e23a39","bcbfd3b54be1971a","8fca6a5b2864a7fd","7d3a6fb220a61774"]]},{"id":"d8b0fc2cf59829a3","type":"switch","z":"fb1d207f.65b2c","name":"","property":"payload.dc_voltage_mppt1","propertyType":"msg","rules":[{"t":"gt","v":"0","vt":"num"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":1070,"y":80,"wires":[["53a945b1.3ff9cc","3e935461.987dcc"],[]]},{"id":"18365e9785cdf1b5","type":"switch","z":"fb1d207f.65b2c","name":"","property":"payload.dc_voltage_mppt1","propertyType":"msg","rules":[{"t":"gt","v":"0","vt":"num"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":1070,"y":400,"wires":[["53a945b1.3ff9cc","fb9ce0d47d1b8d24"],[]]},{"id":"78f10d757d9b5b36","type":"sma-webconnect","z":"fb1d207f.65b2c","ip_address":"192.168.0.177","right":"istl","use_tls":false,"device_selection":"sb_tripower","x":360,"y":240,"wires":[["431b69d4.7a3c68","3207a19e.3e94fe"]]},{"id":"ec4cecda65987195","type":"comment","z":"fb1d207f.65b2c","name":"192.168.0.177","info":"","x":230,"y":200,"wires":[]},{"id":"95a21f5366a3e6fa","type":"comment","z":"fb1d207f.65b2c","name":"First change ip user and password, then interval (inject) every 1 minute","info":"","x":270,"y":20,"wires":[]},{"id":"f935c11c.41462","type":"mqtt-broker","name":"MQTT","broker":"core-mosquitto","port":"1883","clientid":"","autoConnect":true,"usetls":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willPayload":"","willMsg":{},"userProps":"","sessionExpiry":""},{"id":"5a0084c4.f90b5c","type":"modbus-client","name":"SMA ZO","clienttype":"tcp","bufferCommands":true,"stateLogEnabled":true,"queueLogEnabled":false,"tcpHost":"192.168.0.104","tcpPort":"502","tcpType":"DEFAULT","serialPort":"/dev/ttyUSB","serialType":"RTU-BUFFERD","serialBaudrate":"9600","serialDatabits":"8","serialStopbits":"1","serialParity":"none","serialConnectionDelay":"100","unit_id":3,"commandDelay":1,"clientTimeout":1000,"reconnectOnTimeout":true,"reconnectTimeout":2000,"parallelUnitIdsAllowed":true},{"id":"cfb10c6e.c16a8","type":"modbus-client","name":"SMA ZB","clienttype":"tcp","bufferCommands":true,"stateLogEnabled":true,"queueLogEnabled":false,"failureLogEnabled":false,"tcpHost":"192.168.0.177","tcpPort":"502","tcpType":"DEFAULT","serialPort":"/dev/ttyUSB","serialType":"RTU-BUFFERD","serialBaudrate":"9600","serialDatabits":"8","serialStopbits":"1","serialParity":"none","serialConnectionDelay":"100","serialAsciiResponseStartDelimiter":"","unit_id":"3","commandDelay":"1","clientTimeout":"1000","reconnectOnTimeout":true,"reconnectTimeout":"2000","parallelUnitIdsAllowed":true},{"id":"cc9997dd.308868","type":"modbus-client","name":"SMA Noord","clienttype":"tcp","bufferCommands":true,"stateLogEnabled":true,"queueLogEnabled":false,"tcpHost":"192.168.0.254","tcpPort":"502","tcpType":"DEFAULT","serialPort":"/dev/ttyUSB","serialType":"RTU-BUFFERD","serialBaudrate":"9600","serialDatabits":"8","serialStopbits":"1","serialParity":"none","serialConnectionDelay":"100","unit_id":3,"commandDelay":1,"clientTimeout":1000,"reconnectOnTimeout":true,"reconnectTimeout":2000,"parallelUnitIdsAllowed":true}]