Node-red_flows/nodered_flow_nodered_restart_if_modbus_fails.json
[{"id":"c55951a95be4f2b1","type":"tab","label":"NR restart","disabled":false,"info":""},{"id":"fac6f6bc09ce50c5","type":"modbus-flex-getter","z":"c55951a95be4f2b1","name":"","showStatusActivities":false,"showErrors":false,"logIOActivities":false,"server":"5a0084c4.f90b5c","useIOFile":false,"ioFile":"","useIOForPayload":false,"emptyMsgOnFail":false,"keepMsgProperties":false,"x":590,"y":60,"wires":[["445b5c8a4be7e5f4","fd8caf813b22e70e"],[]]},{"id":"bb64708f9f6e9324","type":"inject","z":"c55951a95be4f2b1","name":"60s","props":[{"p":"payload"}],"repeat":"","crontab":"*/1 5-21 * * *","once":false,"onceDelay":"60","topic":"","payload":"","payloadType":"date","x":90,"y":60,"wires":[["045935880920ef2a"]]},{"id":"045935880920ef2a","type":"function","z":"c55951a95be4f2b1","name":"Create request","func":"return {\n    \"payload\": {\n        \"value\":1,\n        \"fc\":3,\n        \"unitid\": 3,\n        \"address\":30953,\n        \"quantity\":10\n    }\n}","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":300,"y":60,"wires":[["7aa76e87f91947d1","fac6f6bc09ce50c5"]]},{"id":"7aa76e87f91947d1","type":"delay","z":"c55951a95be4f2b1","name":"Comm Timeout","pauseType":"delay","timeout":"120","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"outputs":1,"x":820,"y":160,"wires":[["35e82ad742ae08cf"]]},{"id":"35e82ad742ae08cf","type":"api-call-service","z":"c55951a95be4f2b1","name":"Restart Node-RED","server":"f6a89d2d.4c4c1","version":5,"debugenabled":false,"domain":"hassio","service":"addon_restart","areaId":[],"deviceId":[],"entityId":[],"data":"{\"addon\":\"a0d7b954_nodered\"}","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":1030,"y":160,"wires":[[]]},{"id":"445b5c8a4be7e5f4","type":"change","z":"c55951a95be4f2b1","name":"Reset timeout","rules":[{"t":"set","p":"reset","pt":"msg","to":"true","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":600,"y":160,"wires":[["7aa76e87f91947d1"]]},{"id":"fd8caf813b22e70e","type":"debug","z":"c55951a95be4f2b1","name":"Respons","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":800,"y":60,"wires":[]},{"id":"812a381813fa9af4","type":"inject","z":"c55951a95be4f2b1","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":true,"onceDelay":"1","topic":"","payload":"","payloadType":"date","x":110,"y":160,"wires":[["bf47228898dab107"]]},{"id":"bf47228898dab107","type":"debug","z":"c55951a95be4f2b1","name":"node-red restarted","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":350,"y":160,"wires":[]},{"id":"5a0084c4.f90b5c","type":"modbus-client","name":"SMA 5.0","clienttype":"tcp","bufferCommands":true,"stateLogEnabled":true,"queueLogEnabled":false,"tcpHost":"192.168.2.28","tcpPort":"502","tcpType":"DEFAULT","serialPort":"/dev/ttyUSB","serialType":"RTU-BUFFERD","serialBaudrate":"9600","serialDatabits":"8","serialStopbits":"1","serialParity":"none","serialConnectionDelay":"100","serialAsciiResponseStartDelimiter":"","unit_id":"3","commandDelay":"1","clientTimeout":"1000","reconnectOnTimeout":true,"reconnectTimeout":"2000","parallelUnitIdsAllowed":true},{"id":"f6a89d2d.4c4c1","type":"server","name":"Home Assistant","version":5,"addon":true,"rejectUnauthorizedCerts":true,"ha_boolean":"y|yes|true|on|home|open","connectionDelay":true,"cacheJson":true,"heartbeat":false,"heartbeatInterval":30,"areaSelector":"friendlyName","deviceSelector":"friendlyName","entitySelector":"friendlyName","statusSeparator":"at: ","statusYear":"hidden","statusMonth":"short","statusDay":"numeric","statusHourCycle":"h23","statusTimeFormat":"h:m","enableGlobalContextStore":true}]